<div class="col-12 col-md-4 mb-3">
  <div class="team team-summary">
    {{ if .image }}
      <img
        style="width: 75px; border-radius: 10px;"
        alt="Photo of {{ .Title }}"
        class="img-fluid mb-2 mr-2"
        src="{{ .image | relURL }}"
      />
    {{ end }}
    <div class="team-meta">
      <h2 class="team-name">{{ .name }}</h2>
      <p class="team-description">{{ .jobtitle }}</p>
      <p class="team-description">{{ .school }} '{{ .class }}</p>
    </div>
    <div class="team-content"></div>
  </div>
</div>
