<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "Food Rescue Philippines",
    "url": "https://foodrescueph.site",
    "logo": "https://foodrescueph.site/icons/main.png",
    "sameAs": [
    "https://www.facebook.com/foodrescuephilippines",
    "https://www.youtube.com/channel/UCbJTvhqSz40WVys8Dcwl5LA"
  ],
    "image": "https://foodrescueph.site/images/team/team.jpg",
    "description": "We do food rescue to eliminate food waste in the Philippines.",
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "foodrescueph@gmail.com",
      "telephone": "+639272517520",
      "url": "https://foodrescueph.site"
    }
  }
</script>