<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {{ if .Site.Data.social }}
          {{ partial "social.html" . }}
          {{ end }}
          <div class="vercel">
            Uses 
            <a href="https://pantrypoints.com" rel="noopener" target="_blank">Pantrypoints</a>
            and 
            <a href="https://superphysics.org" rel="noopener" target="_blank">Superphysics</a>            
            <span style="opacity: .5;">&middot;</span>
            Made by 
            <a href="https://pantrypoints.com/company" rel="noopener" target="_blank">Pantrypoints Technologies</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>